.Info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.Info>img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.Icon {
    display: flex;
    align-items: center;
}

.Shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.Songs {
    z-index: 1;
    margin: 20px -30px;
}