.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    z-index: 30;
}

.Left {
    display: flex;
    flex: 0.5;
    min-width: 70px;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.Left>input {
    border: none;
    margin-left: 5px;
    width: 100%;
    border-bottom: 1px solid white;
    background: none;
    color: white;
}

input:active, :focus {
    outline: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

.Right {
    display: flex;
    align-items: center;
}

.Right>h4 {
    margin-left: 10px;
}