.Row {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
}

.Row:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.Info {
    margin-left: 20px;
}

.Info>h1 {
    font-size: 16px;
}

.Artist {
    align-items: center;
    display: flex;
}

.Artist>p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}

.Artist>p>span {
    margin-right: 5px;
}

.Artist>span {
    padding: 0 10px;
}

.Clickable:hover {
    text-decoration: underline;
    color: #1DB954;
    background: black;
    opacity: 1;
}

.Album {
    color: white;
    height: 40px;
    width: 40px;
}