.Auth {
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.Auth>img {
    height: 200px;
}

.Auth>a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    font-weight: 500;
    background-color: #1db954;
}